.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formHeaderContainer {
  margin-bottom: 1rem;
  text-align: center;
}

.formHeaderTitle {
  margin-bottom: 0.5rem;
}

.formHeaderSubtitle {
  color: var(--color-muted-foreground);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
